body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("./../public/tic-tac-toe.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  /* border: 2px solid dimgray; */
  height: 95px;
  width: 95px;
  font-size: 40px;
  background: darkslategray;
  color: white;
  margin: 10px;
}
.game {
  border: 2px solid dimgray;
  background-color: #000000b0;

  /*position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%); */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 25px;
  border-radius: 20px;
}
button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.heading {
  font-size: 60px;
  font-family: Cambria;
  font-weight: 700;
  padding: 30px 0px;
}
.round-one-row {
  height: 130px;
}
